body {
  background-color: #5c5c5c;
  color: #ffffff;
}

.calculator {
  position: relative;
  margin: 50px auto;
  width: 359px;
  height: 663px;
  background-color: #1c1c1c;
  border-radius: 39px;
  padding: 130px 8px 14px 10px;

}

.calculator__input {
  font-size: 64px;
  line-height: 75px;
  margin: 0 22px 9px 0;
  text-align: right;
  max-width: 345px;
  overflow: hidden;
}

.calculator__line {
  border: 1px solid #D9D9D9;
  position: absolute;
  width: 100%;
  left: 0;
  margin-bottom: 11px;
}

.button__list {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: repeat(5, 80px);
  gap: 7px;
  padding-top: 11px;
}

.button__item {
  background-color: #6D6D6D;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  font-size: 48px;
  transition: all .3s;
  user-select: none;
}

.button__item:first-child {
  font-size: 40px;
}

.button__item--zero {
  grid-column: span 2;
  width: 167px;
  border-radius: 140px;
}

.button__item--light {
  background-color: #AEAEAE;
}

.button__item--orange {
  background-color: #FFB800;
}

.button__item:active {
  transform: translateY(2px);
}